[Unit]
Description=PiRowFlo Database Store Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=user
ExecStart=/home/user/go/bin/pirowflo_dbstore start

[Install]
WantedBy=multi-user.target